/* NOTE:全体のcolor#393939にしたい */
/* TODO:画像ヘッダーの入れ替え画質 */
/******************************************************************************
  slider
*******************************************************************************/
.slider {
  width: 50%;
  margin: 100px auto;
}

.slick-slide {
margin: 0px 20px;
transform: scale(.8);
}

.slick-slide img {
width: 100%;
}

.slick-prev:before,
.slick-next:before {
color: #393939;
}


.slick-slide {
transition: all ease-in-out .3s;
opacity: .2;
}

.slick-active {
opacity: .5;
}

.slick-current {
opacity: 1;
transform: scale(1);
}

/******************************************************************************
  common
*******************************************************************************/
.d-flex-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.d-none {
  display: none !important;
}

.pointer-cursor {
  cursor: pointer !important;
}

.o-80 {
  opacity: 0.8 !important;
}

.z-1000 {
  z-index: 1000 !important;
}

.w-95 {
  width: 95% !important;
}

.person {
  position: relative;
}

.person .active {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.5s; 
}

.person img:last-child:hover {
  opacity: 0;
}

.person:hover .active {
  opacity: 1;
}

/******************************************************************************
  member detail
*******************************************************************************/
.member-detail{
  width: 44vw;
  min-width: 550px;
  margin: auto;
}

.person-mv{
  display: flex;
}

.mv-img{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3vw;
}

.mv-text{
  font-size: 1.3vw;

}

.person-name{
  display: inline-block;
  margin-bottom: 3vw;
}

.person-name h1{
  font-size: 1.3vw;
  font-weight: large;
  text-align: center;
  margin-bottom: 0vw;
}

.name-en{
  font-size: 3.4vw;
  font-weight: bold;
  font-family: 'ヒラギノ丸ゴ ProN',sans-serif;
  line-height: 1.1;
  color: #158bde;
  margin-bottom: 0vw;
}

.name-en::after{
  content: '';
  display: block;
  background: #158bde;
  height: 0.6vw;
  margin: 0.3vw;
  border-radius: 10vw;
}

.list-area dl{
  margin: 0;
  line-height: 1.6;
}

.list-area dt{
  float: left;
  font-weight: 500;
}

.list-area dt::after{
  content: ":";
}

.list-area dd{
  margin-left: 13vw;
}

.person-contents{
  margin-top: 4vw;
}

.detail-content{
  margin-bottom: 10vw;
}

.content-title{
  justify-content: center;
  align-items: center;
  display: flex;
}

.content-title h2{
  font-size: 1.4vw;
  margin-left: 1vw;
}

.title-color{
  color: #52C18B;
}

.detail-content h3{
  font-size: 1.6vw;
  text-align: center;
  margin-top: 3vw;
}

.detail-content p{
  font-size: 1.2vw;
  line-height: 1.8;
  margin-top: 2.4vw;
}

.person img {
  width: 100%;
}
